.App {
  text-align: center;
  min-height:130vh;
  margin: 0 auto;
  padding-top:10%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.weather-card{
  opacity: 0.8;
  max-width: 50%;
  min-width: 40%;
  margin: 0 auto;
  margin-top: 10%;
  padding: 3% 0%;
  height:100%;
  color: white;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}
